@using EntityLayer.Concreate
@model List<Category>


@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
        </tr>
    }

</table>
