
@{
    Layout = null;
}

<h3> MVC Tablo</h3>

<br />
<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
    </tr>
</table>