
@{
    ViewBag.Title = "_Deneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_Deneme</h2>

<!<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tittleee</title>
</head>
<body>
    <p> sadfghjöç</p>
    </body>
</html>